body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  margin-top: 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #009DAE;
  position: relative;
  padding-top: 100px;
}


.profile-pic{
  height: 200px;
  width: 200px;

}

.Skul{
  height: 300px;
  width: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 90%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
